.intro {
  margin: 70px 0 0 0;
  overflow: hidden;
  .left {
    .img-container {
      background-color: #f0bcc6;
      align-items: center;
      justify-content: center;
      max-width: 700px;
      border-radius: 50% 50% 50% 0;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  .right {
    .wrapper {
      align-items: center;
      .content {
        @media (max-width: 768px) {
          text-align: center;
        }
        h1 {
          font-size: 50px;
          margin: 10px 0px;
        }
        h2 {
          font-size: 30px;
        }
        h3 {
          font-size: 27px;
          span {
            font-size: inherit;
            color: crimson;
          }
          .ityped-cursor {
            opacity: 1;
            animation: blink 0.5s infinite;
          }

          @keyframes blink {
            50% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
